@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  html {
    font-family: 'Inter', sans-serif;
  }

  body {
    @apply bg-gray-50 dark:bg-brand-dark transition-colors;
  }
}

@layer utilities {
  .animate-progress-ind {
    animation: progress 1.5s ease-in-out infinite;
  }
}

@keyframes progress {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}
